.create-modal {
  border-radius: 20px;
  border: 1px solid black;
}
.png-file {
  background: url("./assets/logo512.png");
}
.svg-file {
  background: url("./assets/view.svg");
}
.jpg-file {
  background: url("./assets/jpg_44-2.jpg");
}
.jpeg-file {
  background: url("./assets/images.jpeg");
}
.create-btn {
  padding: 30px;
  background: url("./assets/view.svg");
}
$primary-color: #3498db;
body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
}
